@import "tailwindcss";

@theme {
  --color-navy: #1B2A41;
  --color-gold: #C5A059;

  --font-inter: "Inter", sans-serif;
}

/* Set global app defaults based on the theme */
@layer base {
  body {
    background-color: #f9fafb;
    color: var(--color-navy);
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}